.container {
  margin-left:80px;
  margin-right:80px;
  font-family: Roboto, sans-serif;
}

.emptyBlock {
  position: relative;
  display: inline-block;
  width: 35%;
  height: auto;
  text-align: center;
}

